/* colori principali utilizzati nell'applicazione */
/* RESPONSIVE CSS
  -------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Signika");
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px; }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px; }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0; }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px; }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; } }

main {
  display: flex;
  flex-grow: 1; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh; }

footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center; }

footer .credits-title {
  flex-grow: 1; }

footer .credits {
  flex-grow: 1;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 10px; }

footer .credits .entry {
  color: #ffffff;
  text-decoration: none;
  padding: 10px; }

footer .credits a:hover {
  background-color: #2c2c2c; }

footer .credits .entry .entry-pic {
  margin: auto; }

footer .credits .entry .entry-pic img {
  height: 50px;
  border-radius: 10px; }

@media all and (max-width: 400px) {
  footer .credits {
    grid-template-columns: auto auto; } }

/* GLOBAL STYLES
-------------------------------------------------- */
/* importazione dei custom fonts */
body {
  color: #000000;
  font-family: 'Signika', sans-serif; }

/* overriding delle regole di stilizzazione dei bottoni di Bootstrap */
.btn-primary {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000; }

.btn-primary.focus, .btn-primary:focus {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000; }

/* overriding delle regole di stilizzazione dei panel di Bootstrap */
.panel-default > .panel-heading {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000; }

/* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */
.navbar-default .navbar-brand {
  color: black;
  font-weight: 900; }

.nav.navbar-nav li a {
  color: black; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: black; }

.navbar-toggle {
  border: 0px; }

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

.navbar-wrapper .navbar .container {
  width: auto; }

/* CUSTOMIZE INTRO CAROUSEL 
  -------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777; }

/* CUSTOMIZE MODAL CAROUSEL 

  -------------------------------------------------- */
#modal-ristorante .carousel {
  height: 300px;
  margin-bottom: 10px; }

#modal-ristorante .carousel .item {
  height: 300px;
  background-color: #777; }

#modal-ristorante .carousel-inner > .item > img {
  min-width: 100%;
  height: 300px; }

#modal-ristorante .modal-content {
  display: flex;
  flex-direction: column; }

.modal-ristorante-contenuti * {
  margin-bottom: 10px; }
