main {
  display: flex;
  flex-direction: row; }
  main section .headerSection {
    padding-bottom: 5px;
    border-bottom: thin solid #d6d5d5;
    margin-bottom: 5px; }
  main section article p {
    display: flex;
    justify-content: center; }
  main section article .nameResturant {
    font-size: 1.5em;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-transform: capitalize; }
  main section article .locationResturant {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  main section article .valutationDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 15px; }
    main section article .valutationDiv .imageOpacity {
      opacity: 0.5; }
    main section article .valutationDiv .imageOpacity:hover {
      opacity: 1; }
  main .ristoranteGenerico {
    display: flex;
    flex-direction: column;
    border-top: 15px solid #ffd968;
    border-bottom: 2px solid darkgray;
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray; }
