/* CUSTOMIZE INTRO CAROUSEL 
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  box-shadow: $shadowBox;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
} 

/* Declare heights because of positioning of img element */
.carousel .item {
  
  background-color: #777;
}
// .carousel-inner > .item > img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   min-width: 100%;
//   height: 500px;
// }

#carousel-intro {
  margin-bottom: 40px;
}

/* CUSTOMIZE MODAL CAROUSEL 

  -------------------------------------------------- */
#modal-ristorante .carousel {
  height: 300px;
  margin-bottom: 10px;
}

#modal-ristorante .carousel .item {
  height: 300px;
  background-color: #777;
}

#modal-ristorante .carousel-inner > .item > img {
   min-width: 100%;
   height: 300px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
