footer {
	background-color: $secondary;
	color: $primary;
	display: flex;
	flex-direction: column;
	text-align: center;

	.credits-title {
		flex-grow: 1;
	}
	.credits {
		flex-grow:1;
		margin: auto;
		display: grid;
		grid-template-columns: auto auto auto auto;
		padding-bottom: 10px;

		.entry {
			color: $primary;
			text-decoration: none;
			padding: 10px;

			&:hover {
				background-color: $secondaryLight;
			}

			.entry-pic {
				margin: auto;

				img {
					height: 50px;
					border-radius: 10px;
				}
			}
		}
		@media all and (max-width: 400px) {
			grid-template-columns: auto auto;
		}
	}
}
