.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 800px;
  
}
.gallery {
  picture {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5px;
    box-shadow: $shadowBox;
  }
}
.comments{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity:0;
  transition: all 0.5s ease;
  p{
    font-size: 2rem;
    display:none;
    color: white;
  }
}
picture:hover{
  .comments{
    opacity: 0.6;
    background-color: black;
    p{
      display:block;
    }
  }
}
.gallery{
  a{
    display: flex;
  }
}