#modal-ristorante .modal-content {
    display: flex;
    flex-direction: column;
  }

.modal-ristorante-contenuti * {
    margin-bottom: 10px;
}

#modal-about .modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body heading {
    margin-bottom: 8px;
}

.modal-body article {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

article img {
    margin-top: 4px;
    margin-right: 12px;
    height: 64px;
    vertical-align: middle;
}

#article-us {
    margin-bottom: 0px;
    justify-content: center;
}