

@mixin sectionResturant($color){
    display: flex;
    flex-direction: column;

    border-top: 15px solid $color;
    border-bottom: $borderSecondary;
    border-left: $borderSecondary;
    border-right: $borderSecondary;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0px auto;


    @media screen and (min-width: 1200px){
        flex-direction: row;
    }

    section{
        margin-bottom: 20px;
        border-radius: 10px;
        min-width: 345px;
        .headerSection{
            padding-bottom: 5px;
            overflow: hidden;
        }

        article{
            padding-top: 5px;
            border-top: thin solid rgb(214, 213, 213);
            //width: 95%;
            margin: 0px auto;
            
            p{
                text-align: center;
            }

            .nameResturant{
                font-size: 2rem;
                text-align: center;
                letter-spacing: 2px;
                word-spacing: 3px;
                text-transform: capitalize;
            }

            .locationResturant{
                font-style: oblique;
                color: rgba(126, 120, 120, 0.767);
            }

            .valutationDiv{
                display: flex;
                justify-content: center;
                padding-bottom: 15px;

                .imageOpacity{
                    opacity: 0.5;
                }

                .imageOpacity:hover{
                    opacity: 1;
                }
            }
        }
    }

    .ristoranteGenerico{
        @include sectionResturant($genericResturantColor);
        margin-right: 10px;
    }

    .ristorantePizzeria{
        @include sectionResturant($resturantPizzeriaColor);
        margin-right: 10px;
    }
    
    .ristorantePesce{
        @include sectionResturant($fishResturantColor)
    }
}