$bodyBackgroundColor: whitesmoke;
$primaryColor: #000040;
$lightColor: #31296C;
$darkColor: #00001C;
$shadowBox: 0px 0px 10px 0px #333333;

//Colori che mi servono nelle section per identificare la categoria del ristorante
$genericResturantColor: #ffd968;
$resturantPizzeriaColor: tomato;
$fishResturantColor: #70a6ff;
$borderSecondary: 2px solid darkgray;

